$header_height: 34px;
$toolbar_height: 46px;
$formula_height: 24px;

$info_cell_width: 40px;
$row_height: 24px;
$cell_width: 120px;

$db_header_height: 64px;

$primary: #009688;
$light: #e0f2f1;
$error: #f44336;
$border_color: #c0c0c0;
$dark: #212121;
$gray: #f5f5f5;
