.excel__table{
    position: absolute;
    left: 0;
    right: 0;
    top: $header_height + $toolbar_height + $formula_height;
    overflow-x: auto;
    padding-bottom: 2px;

    .row{
        display: flex;
        min-height: 20px;
        height: $row_height;

    }
    .row-info{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info_cell_width;
        height: 100%;
        border: 1px solid $border_color;
        background: $gray;
        border-top:  0;
    }
    .row-data{
        display: flex;
    }
    .column{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $gray;
        min-width: 40px;
        height: 100%;
        width: $cell_width;
        border: 1px solid $border_color;
        border-top:0;
        border-left: 0;
     
    }
    .cell{
        min-width: 40px;
        padding: 5px;
        width: $cell_width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-top:0;
        border-left: 0;
        color: $dark;
        white-space: nowrap;
        outline: none;

        &.selected{
            border: none;
            outline: 2px solid $primary;
            z-index: 2;
        }
    }
}